@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    font-family: Roboto;
}

#warn {
    visibility: collapse;
    font-size: 20px;
    text-align: center;
}

.BoxCell {
    padding-top: 90%;
    position: relative;
    width: 100px;
    border: solid 3px black;
    margin: 2px;
    border-radius: 15px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}

#Computer {
    color: rgb(190, 186, 186);
}

#Human {
    color: rgb(243, 237, 237);
}

#Human, #Computer, #Restart{
    background-color: rgb(44, 44, 44);
    width: clamp(10%, 100px,49%);
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#Restart {
    color: rgb(235, 235, 235);
}

#GameBoard {
    display: grid;
    grid-template:
        "a a a"
        "b b b"
        "c c c" ;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

#title {
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    margin: 5px 0 5px 0;
}

#title-cont {
    background-color: rgb(20, 20, 20);
    width: 100%;
}

#vs {
    margin: 0px;
}

#ply {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body {
    margin: 0px;
}


@media only screen and (max-width: 600px) {
    .BoxCell {
        width: 25vw;
    }
    #Human, #Computer, #Restart {
        width: 45vw;
    }
  }